cost-quarantine/cloudformation/regional-remediation.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Per-region cost-quarantine remediation state machine. Deployed via StackSet
  to each remediation Region. Triggers on forwarded ExecuteBudgetAction events
  and performs bounded stop/scale-to-zero using SDK integrations with JSONata.
  Zero Lambda functions.

Parameters:
  TestRemediationRoleName:
    Type: String
    Default: paws-cost-quarantine-remediation
    AllowedPattern: "^[A-Za-z0-9+=,.@_-]{1,64}$"
    Description: Cross-account role name in the workload accounts.

  RegionalExecutionRoleArn:
    Type: String
    Description: ARN of the global IAM execution role deployed by the management stack.

  RegionalTriggerRoleArn:
    Type: String
    Description: ARN of the global IAM trigger role deployed by the management stack.

Metadata:
  cfn-lint:
    config:
      ignore_checks:
        - W2001

Resources:
  RemediationLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/vendedlogs/states/paws-cost-quarantine-regional-${AWS::Region}
      RetentionInDays: 30

  RegionalStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Metadata:
      cfn-lint:
        config:
          ignore_checks:
            - E3601
    Properties:
      StateMachineName: paws-cost-quarantine-regional
      StateMachineType: STANDARD
      RoleArn: !Ref RegionalExecutionRoleArn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt RemediationLogGroup.Arn
        IncludeExecutionData: false
        Level: ERROR
      DefinitionSubstitutions:
        RemediationRoleName: !Ref TestRemediationRoleName
      Definition:
        Comment: !Sub "Single-region remediation: ECS scale-to-zero, ASG scale-to-zero, EC2 stop (${AWS::Region})."
        QueryLanguage: JSONata
        TimeoutSeconds: 1800
        StartAt: ExtractTarget
        States:
          ExtractTarget:
            Type: Pass
            Assign:
              remediationRoleArn: "{% 'arn:aws:iam::' & ($states.input.targetAccountId ? $states.input.targetAccountId : $states.input.detail.requestParameters.Definition.ScpActionDefinition.TargetIds[0]) & ':role/${RemediationRoleName}' %}"
            Next: EcsListClusters
          Ec2DescribeInstances:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ec2:describeInstances
            Arguments:
              Filters:
                - Name: instance-state-name
                  Values:
                    - running
              MaxResults: 1000
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              ec2NextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              ec2Instances: "{% $append([], $states.result.Reservations[].Instances[].InstanceId ? $states.result.Reservations[].Instances[].InstanceId : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: Ec2StopCheck
          Ec2StopCheck:
            Type: Choice
            Choices:
              - Next: Ec2StopInstances
                Condition: "{% $count($ec2Instances) > 0 %}"
            Default: Ec2PaginateCheck
          Ec2StopInstances:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ec2:stopInstances
            Arguments:
              InstanceIds: "{% $ec2Instances %}"
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Catch:
              - ErrorEquals: [States.ALL]
                Next: Ec2PaginateCheck
            Next: Ec2PaginateCheck
          Ec2PaginateCheck:
            Type: Choice
            Choices:
              - Next: Ec2DescribeInstancesPage
                Condition: "{% $exists($ec2NextToken) and $ec2NextToken != null %}"
            Default: Done
          Ec2DescribeInstancesPage:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ec2:describeInstances
            Arguments:
              Filters:
                - Name: instance-state-name
                  Values:
                    - running
              MaxResults: 1000
              NextToken: "{% $ec2NextToken %}"
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              ec2NextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              ec2Instances: "{% $append([], $states.result.Reservations[].Instances[].InstanceId ? $states.result.Reservations[].Instances[].InstanceId : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: Ec2StopCheck
          AsgDescribeGroups:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:autoscaling:describeAutoScalingGroups
            Arguments:
              MaxRecords: 100
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              asgNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              asgGroups: "{% $append([], $states.result.AutoScalingGroups[DesiredCapacity > 0].AutoScalingGroupName ? $states.result.AutoScalingGroups[DesiredCapacity > 0].AutoScalingGroupName : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: AsgScaleCheck
          AsgScaleCheck:
            Type: Choice
            Choices:
              - Next: AsgScaleGroups
                Condition: "{% $count($asgGroups) > 0 %}"
            Default: AsgPaginateCheck
          AsgScaleGroups:
            Type: Map
            Items: "{% $asgGroups %}"
            MaxConcurrency: 5
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: AsgUpdateGroup
              States:
                AsgUpdateGroup:
                  Type: Task
                  Resource: arn:aws:states:::aws-sdk:autoscaling:updateAutoScalingGroup
                  Arguments:
                    AutoScalingGroupName: "{% $states.input %}"
                    MinSize: 0
                    DesiredCapacity: 0
                  Credentials:
                    RoleArn: "{% $remediationRoleArn %}"
                  Output: "{}"
                  Retry:
                    - ErrorEquals: [States.ALL]
                      IntervalSeconds: 2
                      MaxAttempts: 3
                      BackoffRate: 2
                      MaxDelaySeconds: 15
                      JitterStrategy: FULL
                  Catch:
                    - ErrorEquals: [States.ALL]
                      Next: AsgGroupDone
                  Next: AsgGroupDone
                AsgGroupDone:
                  Type: Pass
                  End: true
            Next: AsgPaginateCheck
          AsgPaginateCheck:
            Type: Choice
            Choices:
              - Next: AsgDescribeGroupsPage
                Condition: "{% $exists($asgNextToken) and $asgNextToken != null %}"
            Default: Ec2DescribeInstances
          AsgDescribeGroupsPage:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:autoscaling:describeAutoScalingGroups
            Arguments:
              MaxRecords: 100
              NextToken: "{% $asgNextToken %}"
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              asgNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              asgGroups: "{% $append([], $states.result.AutoScalingGroups[DesiredCapacity > 0].AutoScalingGroupName ? $states.result.AutoScalingGroups[DesiredCapacity > 0].AutoScalingGroupName : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: AsgScaleCheck
          EcsListClusters:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ecs:listClusters
            Arguments:
              MaxResults: 100
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              ecsClusterNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              ecsClusters: "{% $append([], $states.result.ClusterArns ? $states.result.ClusterArns : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: EcsClusterCheck
          EcsClusterCheck:
            Type: Choice
            Choices:
              - Next: EcsProcessClusters
                Condition: "{% $count($ecsClusters) > 0 %}"
            Default: EcsClusterPaginateCheck
          EcsProcessClusters:
            Type: Map
            Items: "{% $ecsClusters %}"
            MaxConcurrency: 2
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: EcsListServices
              States:
                EcsListServices:
                  Type: Task
                  Resource: arn:aws:states:::aws-sdk:ecs:listServices
                  Arguments:
                    Cluster: "{% $states.input %}"
                    MaxResults: 100
                  Credentials:
                    RoleArn: "{% $remediationRoleArn %}"
                  Assign:
                    ecsClusterArn: "{% $states.input %}"
                    ecsServiceNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
                    ecsServices: "{% $append([], $states.result.ServiceArns ? $states.result.ServiceArns : []) %}"
                  Output: "{}"
                  Retry:
                    - ErrorEquals: [States.ALL]
                      IntervalSeconds: 2
                      MaxAttempts: 3
                      BackoffRate: 2
                      MaxDelaySeconds: 15
                      JitterStrategy: FULL
                  Next: EcsServiceCheck
                EcsServiceCheck:
                  Type: Choice
                  Choices:
                    - Next: EcsScaleServices
                      Condition: "{% $count($ecsServices) > 0 %}"
                  Default: EcsServicePaginateCheck
                EcsScaleServices:
                  Type: Map
                  Items: "{% $ecsServices %}"
                  MaxConcurrency: 5
                  ItemProcessor:
                    ProcessorConfig:
                      Mode: INLINE
                    StartAt: EcsUpdateService
                    States:
                      EcsUpdateService:
                        Type: Task
                        Resource: arn:aws:states:::aws-sdk:ecs:updateService
                        Arguments:
                          Cluster: "{% $ecsClusterArn %}"
                          Service: "{% $states.input %}"
                          DesiredCount: 0
                        Credentials:
                          RoleArn: "{% $remediationRoleArn %}"
                        Output: "{}"
                        Retry:
                          - ErrorEquals: [States.ALL]
                            IntervalSeconds: 2
                            MaxAttempts: 3
                            BackoffRate: 2
                            MaxDelaySeconds: 15
                            JitterStrategy: FULL
                        Catch:
                          - ErrorEquals: [States.ALL]
                            Next: EcsServiceDone
                        Next: EcsServiceDone
                      EcsServiceDone:
                        Type: Pass
                        End: true
                  Next: EcsServicePaginateCheck
                EcsServicePaginateCheck:
                  Type: Choice
                  Choices:
                    - Next: EcsListServicesPage
                      Condition: "{% $exists($ecsServiceNextToken) and $ecsServiceNextToken != null %}"
                  Default: EcsClusterDone
                EcsListServicesPage:
                  Type: Task
                  Resource: arn:aws:states:::aws-sdk:ecs:listServices
                  Arguments:
                    Cluster: "{% $ecsClusterArn %}"
                    MaxResults: 100
                    NextToken: "{% $ecsServiceNextToken %}"
                  Credentials:
                    RoleArn: "{% $remediationRoleArn %}"
                  Assign:
                    ecsServiceNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
                    ecsServices: "{% $append([], $states.result.ServiceArns ? $states.result.ServiceArns : []) %}"
                  Output: "{}"
                  Retry:
                    - ErrorEquals: [States.ALL]
                      IntervalSeconds: 2
                      MaxAttempts: 3
                      BackoffRate: 2
                      MaxDelaySeconds: 15
                      JitterStrategy: FULL
                  Next: EcsServiceCheck
                EcsClusterDone:
                  Type: Pass
                  End: true
            Next: EcsClusterPaginateCheck
          EcsClusterPaginateCheck:
            Type: Choice
            Choices:
              - Next: EcsListClustersPage
                Condition: "{% $exists($ecsClusterNextToken) and $ecsClusterNextToken != null %}"
            Default: AsgDescribeGroups
          EcsListClustersPage:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ecs:listClusters
            Arguments:
              MaxResults: 100
              NextToken: "{% $ecsClusterNextToken %}"
            Credentials:
              RoleArn: "{% $remediationRoleArn %}"
            Assign:
              ecsClusterNextToken: "{% $states.result.NextToken ? $states.result.NextToken : null %}"
              ecsClusters: "{% $append([], $states.result.ClusterArns ? $states.result.ClusterArns : []) %}"
            Output: "{}"
            Retry:
              - ErrorEquals: [States.ALL]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
                MaxDelaySeconds: 15
                JitterStrategy: FULL
            Next: EcsClusterCheck
          Done:
            Type: Succeed

  RegionalTriggerRule:
    Type: AWS::Events::Rule
    Properties:
      Name: paws-cost-quarantine-regional
      Description: Starts regional remediation on forwarded ExecuteBudgetAction events.
      State: ENABLED
      EventPattern:
        source:
          - aws.budgets
        detail-type:
          - AWS API Call via CloudTrail
        detail:
          eventSource:
            - budgets.amazonaws.com
          eventName:
            - ExecuteBudgetAction
      Targets:
        - Id: start-regional-remediation
          Arn: !Ref RegionalStateMachine
          RoleArn: !Ref RegionalTriggerRoleArn

Outputs:
  RegionalStateMachineArn:
    Value: !Ref RegionalStateMachine
